ServiceTablet/BizLogic/Toyota.eCRB.iCROP.BizLogic.IC3802701/Web References/IC46202CN/IC46202CN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IC45202">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IC45202Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IC45202Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IC45202SoapIn">
    <wsdl:part name="parameters" element="tns:IC45202" />
  </wsdl:message>
  <wsdl:message name="IC45202SoapOut">
    <wsdl:part name="parameters" element="tns:IC45202Response" />
  </wsdl:message>
  <wsdl:portType name="JobClockOnImportDMSSoap">
    <wsdl:operation name="IC45202">
      <wsdl:input message="tns:IC45202SoapIn" />
      <wsdl:output message="tns:IC45202SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JobClockOnImportDMSSoap" type="tns:JobClockOnImportDMSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IC45202">
      <soap:operation soapAction="http://tempuri.org/IC45202" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JobClockOnImportDMSSoap12" type="tns:JobClockOnImportDMSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IC45202">
      <soap12:operation soapAction="http://tempuri.org/IC45202" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobClockOnImportDMS">
    <wsdl:port name="JobClockOnImportDMSSoap" binding="tns:JobClockOnImportDMSSoap">
      <soap:address location="http://ap81359web1:8008/IC46202/IC46202CN.asmx" />
    </wsdl:port>
    <wsdl:port name="JobClockOnImportDMSSoap12" binding="tns:JobClockOnImportDMSSoap12">
      <soap12:address location="http://ap81359web1:8008/IC46202/IC46202CN.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>