ServiceTablet/BizLogic/Toyota.eCRB.iCROP.BizLogic.IC3802601/Web References/IC46203CN/IC46203CN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <s:element name="IC45203">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strReq" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IC45203Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IC45203Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IC45203SoapIn">
    <wsdl:part name="parameters" element="tns:IC45203" />
  </wsdl:message>
  <wsdl:message name="IC45203SoapOut">
    <wsdl:part name="parameters" element="tns:IC45203Response" />
  </wsdl:message>
  <wsdl:portType name="IC46203CNSoap">
    <wsdl:operation name="IC45203">
      <wsdl:input message="tns:IC45203SoapIn" />
      <wsdl:output message="tns:IC45203SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IC46203CNSoap" type="tns:IC46203CNSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IC45203">
      <soap:operation soapAction="http://tempuri.org/IC45203" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IC46203CNSoap12" type="tns:IC46203CNSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IC45203">
      <soap12:operation soapAction="http://tempuri.org/IC45203" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IC46203CN">
    <wsdl:port name="IC46203CNSoap" binding="tns:IC46203CNSoap">
      <soap:address location="http://ap81359web1:8008/IC46203/IC46203CN.asmx" />
    </wsdl:port>
    <wsdl:port name="IC46203CNSoap12" binding="tns:IC46203CNSoap12">
      <soap12:address location="http://ap81359web1:8008/IC46203/IC46203CN.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>