ServiceTablet/BizLogic/Toyota.eCRB.iCROP.BizLogic.IC3800903/Web References/IC46201CN/IC46201CN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IC45201">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IC45201Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IC45201Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IC45201SoapIn">
    <wsdl:part name="parameters" element="tns:IC45201" />
  </wsdl:message>
  <wsdl:message name="IC45201SoapOut">
    <wsdl:part name="parameters" element="tns:IC45201Response" />
  </wsdl:message>
  <wsdl:portType name="UpdateReserveImportDMSSoap">
    <wsdl:operation name="IC45201">
      <wsdl:input message="tns:IC45201SoapIn" />
      <wsdl:output message="tns:IC45201SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdateReserveImportDMSSoap" type="tns:UpdateReserveImportDMSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IC45201">
      <soap:operation soapAction="http://tempuri.org/IC45201" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpdateReserveImportDMSSoap12" type="tns:UpdateReserveImportDMSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IC45201">
      <soap12:operation soapAction="http://tempuri.org/IC45201" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateReserveImportDMS">
    <wsdl:port name="UpdateReserveImportDMSSoap" binding="tns:UpdateReserveImportDMSSoap">
      <soap:address location="http://ap81359web1:8008/IC46201/IC46201CN.asmx" />
    </wsdl:port>
    <wsdl:port name="UpdateReserveImportDMSSoap12" binding="tns:UpdateReserveImportDMSSoap12">
      <soap12:address location="http://ap81359web1:8008/IC46201/IC46201CN.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>